
.card{
    position: relative;
    background-color: rgb(94, 182, 209);
    width: 800PX;
    height: 800PX;
    z-index: 0;
    margin: 100px auto;
}
.card .ear-left{
    position: absolute;
    left: 28%;
    top: 30%;
}
.card .ear-right{
position: absolute;
right:20% ;
top: 30%;
}

.card .eye-left{
    position: absolute;
    left: 43%;
    top: 28%;
    z-index: 1;
}

.card .eye-right{
    position: absolute;
    right:35%;
    top: 28%;
    z-index: 1;
}

.card .face{
position: absolute;
left: 35%;
top: 20%;
}

.card .foot-left{
    position: absolute;
    bottom: 29%;
    left: 36%;
    z-index: -1;
}
.card .foot-right{
    position: absolute;
    bottom: 29%;
    right: 27%;
    z-index: -1;
}
.card .hat{
    position: absolute;
    top: 10%;
    left: 39%;
}
.card .moustache{
    position: absolute;
    bottom: 40%;
    left: 42%;
}

.card .nose{
    position: absolute;
    left: 45%;
    top: 35%;
    z-index: 1;
}

.card .nose:hover{
    transition: 2s;
    transform: rotate(360deg);
}

.card .eye-left:hover{
    transform: translateX(-20%);
    transition:0.3s ;
    
}
.card .eye-right:hover{
    transform: translateX(20%);
    transition:  0.3s;
}

.card .hat:hover{
    transform: translateY(-30%);
    transition: 0.3s;
}